<%- include('../layouts/main-top.ejs') %>

<div>
  <% for (const article of articles) { %>
  <div>
    <a href="/article/<%= article.id %>"> <%= article.title %> </a>
  </div>
  <% } %>
</div>

<%- include('../layouts/main-bottom.ejs') %>
