<form action="/admin/article/<%= article.id %>" class="action inline" method="POST">
  <input type="hidden" name="_method" value="DELETE" />
  <button type="submit" class="action inline">Delete</button>
</form>
