<header>
  <div class="menu">
    <% const links = [{href: '/', label: 'Home'}, {href: '/article', label:
    'Articles'}, {href: '/about', label: 'About'}, {href: '/contact', label:
    'Contact'}] %>
    <ul>
      <% for (const link of links) { %>
      <li>
        <a href="<%= link.href %>"><%= link.label %></a>
      </li>
      <% } %>
    </ul>
  </div>
  <div class="menu">
    <ul>
      <% if (locals.user) { %>
      <li><%= user.username %></li>
      <li><a href="/logout" class="action logout">Logout</a></li>
      <% } else { %>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
      <% } %>
    </ul>
  </div>
</header>
