<%- include('./layouts/main-top.ejs') %> <%= content %>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, odit fugiat
  animi ea sint ad illum vitae. Nesciunt vitae minima perspiciatis. Nihil
  laboriosam expedita assumenda numquam dolor placeat atque at!
</p>

<%- include('./layouts/main-bottom.ejs') %>
